<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      City Guide
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="../assets/city.jpg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
          <ion-label position="floating">City</ion-label>
              <ion-input type="text" #city="ngModel" name="city" required ngModel placeholder="Enter City"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit">FIND WEATHER</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button [routerLink]="['/fav-cities']" color="secondary">FAVOURTIE CITIES</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  </div>
</ion-content>
